<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <a href="/signout"><h5>Signout</h5></a>
    <h2>What would you like to do?</h2>
    <a href="/addToPlaylist"><h4>Add to a Playlist</h4></a>
</html>
